*{
margin:0;
box-sizing:border-box;
padding: 0;
}

ul{
list-style:none;
}

body {    
    font-family: var(--vietnam);
}

:root {
    --vietnam: 'Be Vietnam', sans-serif;
    --ancho : 1440px;
    --color-naranja : hsl(12, 88%, 59%);
    --color-azul-oscuro : hsl(228, 39%, 23%);
    --color-plomo-claro: hsl(0, 0%, 98%);
    --color-azul-claro : hsl(227, 12%, 61%);
}

/* ---- HEADER ---- */
  
.header {
    display: flex;
    justify-content: space-between;
    max-width: var(--ancho);
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

.header__lista {
    list-style: none;
    display: flex;
    flex: 1;
    align-items: center;    
    justify-content: center;
}

.header__logo {
    max-width: 140px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header__logo img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.header__nav {
    flex: 1;
    display: flex;    
}

.header__lista li {
    margin-right: 20px;
}

.header__lista li:last-child {
    margin-right: 0px;
}

.header__link {
    text-decoration: none;    
    font-weight: 700;
    color: var(--color-azul-oscuro);
}

.header__btn {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__btn button {
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
    background-color: var(--color-naranja);
    border-radius: 30px;
    color: var(--color-plomo-claro);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* ---- HEADER ---- */


/* ---- MAIN ---- */

main {
    max-width: var(--ancho);
    display: flex;
    margin: 100px auto 0 auto;
    flex-wrap: wrap;
    /* background-color: aqua; */
}

main section {
    width: 50%;
    border: 1px solid #bbb;
}

.section__titulo {
    color: var(--color-azul-oscuro);
    font-size: 4rem;
    line-height: 4rem;
}

.section__parrafo {
    color: var(--color-azul-claro);
    width: 50%;
}


/* ---- MAIN ---- */

